
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: dimgray;
    text-align: justify;
    margin-right: 25px;
}


.orange-highlite{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}

section{
    height: 500px;
    margin-bottom: 150px;
}

.top-banar{
    background-image: url("Images/top-banner.png");
   background-repeat: no-repeat;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 29px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

a:hover{
    color: purple;
}

.dream-area{
    background-image: url("Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.singale-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
}

.experience-area{
    background-image: url("Images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1%;
}

#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1%;
}

footer p{
    text-align: center;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospaceborder-left: 7px solid;
   }