
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

p{
    color: dimgray;
    text-align: justify;
}

.name-highlite{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}

.top-banar{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 100px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 29px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
